@namespace Belin.Base.UI.Components

<message-box animation="@Animation" caption="@Caption" centered="@Centered" context="@Context" icon="@Icon">
	<div class="modal @(Animation ? "fade" : string.Empty)" tabindex="-1">
		<div class="modal-dialog @(Centered ? "modal-dialog-centered" : string.Empty) @(Scrollable ? "modal-dialog-scrollable" : string.Empty)">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title">@Caption</h1>
					<button class="btn-close"></button>
				</div>
				<div class="modal-body d-flex gap-2">
					<i class="icon text-@Context.ToCss()">@(Icon is null ? Context.GetIcon() : Icon)</i>
					<div class="flex-grow-1">@Body</div>
				</div>
				<div class="modal-footer" hidden="@(Footer is null)">
					@Footer
				</div>
			</div>
		</div>
	</div>

	<template>
		<DialogButton />
	</template>
</message-box>

@code {
	/// <summary>
	/// Value indicating whether to apply a fade transition.
	/// </summary>
	[Parameter]
	public bool Animation { get; set; }

	/// <summary>
	/// The child content displayed in the body.
	/// </summary>
	[Parameter]
	public RenderFragment? Body { get; set; }

	/// <summary>
	/// The title displayed in the header.
	/// </summary>
	[Parameter]
	public string Caption { get; set => field = value.Trim(); } = string.Empty;

	/// <summary>
	/// Value indicating whether to vertically center this message box.
	/// </summary>
	[Parameter]
	public bool Centered { get; set; }

	/// <summary>
	/// The child content.
	/// </summary>
	[Parameter]
	public RenderFragment? ChildContent { get => Body; set => Body = value; }

	/// <summary>
	/// A contextual modifier.
	/// </summary>
	[Parameter]
	public Context Context { get; set; } = Context.Info;

	/// <summary>
	/// The child content displayed in the footer.
	/// </summary>
	[Parameter]
	public RenderFragment? Footer { get; set; }

	/// <summary>
	/// The icon displayed next to the body.
	/// </summary>
	[Parameter]
	public string? Icon { get; set; }

	/// <summary>
	/// Value indicating whether the body is scrollable.
	/// </summary>
	[Parameter]
	public bool Scrollable { get; set; }
}
