@namespace Belin.Base.UI.Components

<type-ahead list="@List" minLength="@MinLength" wait="@Wait">
	<datalist id="@List">
		@foreach (var value in Items) { <option value="@value"></option> }
	</datalist>
</type-ahead>

@code {
	/// <summary>
	/// The data list items.
	/// </summary>
	[Parameter]
	public IEnumerable<string> Items { get; set; } = [];

	/// <summary>
	/// The data list identifier.
	/// </summary>
	[Parameter, EditorRequired]
	public required string List { get; set; }

	/// <summary>
	/// The minimum character length needed before triggering autocomplete suggestions.
	/// </summary>
	[Parameter]
	public int MinLength { get; set; } = 2;

	/// <summary>
	/// The delay in milliseconds to wait before triggering autocomplete suggestions.
	/// </summary>
	[Parameter]
	public int Wait { get; set; } = 300;
}
